
.nav--mobile {
  position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    background: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
}

/*------------------------------------------------------------------
[5. Navigation Toggle ] 
*/
.nav-toggle {
  display: none;
}
@media (max-width: 991px) {
  .nav-toggle {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .nav-toggle__icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .nav-toggle__icon:hover {
    opacity: 0.8;
  }
  .nav-toggle__icon:focus {
    outline: 0;
  }
  .nav-toggle__icon:active {
    box-shadow: none;
  }
  .nav__item:first-child {
    padding-left: initial;
  }
}